@model IEnumerable<TestApi.Models.ScanData>

@{
    ViewData["Title"] = "scan";
}

<h1>scan</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.camid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.devid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.devmac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.devname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.devno)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Operator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timelocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoggedTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.camid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.devid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.devmac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.devname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.devno)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Operator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timelocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoggedTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
